@import "app/core/shared/theme/scss/variables/variables";


.calculations-viewer{
  width: 49vw;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $cw-light-theme-background-2;
}
