@use '@angular/material' as mat;
@import '@angular/material/theming';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.calculations-viewer, calculations-editor{
  padding: 20px;
}
@import "app/core/shared/theme/scss/variables/variables";

.dark-theme {
  .calculations-viewer {
    background: $cw-dark-theme-background !important; // Define your dark theme background color here
  }
  .calculations-editor {
    background: $cw-dark-theme-background-2 !important; // Define your dark theme background color here
  }
}



@import "src/app/core/shared/theme/scss/variables/variables";


$cw-light-theme: mat.define-light-theme((
  color: (
    primary: $cw-primary-light,
    accent: $cw-accent-light,
    warn: $cw-warn-light,
  ),
));

$cw-dark-theme: mat.define-dark-theme((
  color: (
    primary: $cw-primary-dark,
    accent: $cw-accent-dark,
    warn: $cw-warn-dark,
  )
));
// Apply the dark theme by default
@include angular-material-theme($cw-light-theme);



.dark-theme{
  @include angular-material-theme($cw-dark-theme);
}
